@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: ThunderBold;
  src: url(../public/font/Thunder-ExtraBoldLC.otf);
  font-display: block;
}
.thunder_bold{
  font-family: ThunderBold;
}
